h1 {

    font-size: 1.5em;
    color: black;
}

.highlight {
    fill: palevioletred
}

#tooltip {
    position: absolute;
    width: 200 px;
    height: auto;
    padding: 10px;
    background-color: blanchedalmond;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;

}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 15px;
    x: 100;
    y: 200;
}

#intro {

    position: absolute;
    top: 40%;
    right: 40px;
    transform: translateY(-50%);
    padding: 10px;
    border: 1px solid #ccc;
    background-color: pink;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 250px;
    border-radius: 3em;
    border-width: 2px;


}

#intro2 {

    position: absolute;
    top: 30%;
    right: 40px;
    transform: translateY(-50%);
    padding: 10px;
    border: 1px solid #ccc;
    background-color: pink;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 250px;
    border-radius: 3em;
    border-width: 2px;


}

#redirectButton {
    color: red;
    /* margin-top: 10px; */
    margin-top: -420px;
    margin-left: 65px;

}

#dis {
    margin-top: -500px;
    margin-left: 65px;
    height: 75px;
    width: 400px;
    border-radius: 3em;
    background-color: lightskyblue;
}

#dis summary {
    margin-top: 10px;
    text-align: center;
    color: beige;
}

#dis p {
    /* text-align: center; */
    margin: auto;
    width: 200px;
    font-family: 'Lexend Deca', sans-serif;
    color: beige;
    outline-color: black;
    outline-width: 2px;
}

#ele summary {
    margin-top: 10px;
    text-align: center;
    color: beige;
}

#ele {
    margin-left: 65px;
    height: 75px;
    width: 400px;
    border-radius: 3em;
    background-color: navy
}

#ele p {
    /* text-align: center; */
    margin: auto;
    width: 200px;
    padding: 20px;
    font-family: 'Lexend Deca', sans-serif;
    color: beige;
    outline-color: black;
    outline-width: 2px;
}

#gas {
    margin-left: 65px;
    height: 75px;
    width: 400px;
    border-radius: 3em;
    background-color: darkorange;
}

#gas p {
    /* text-align: center; */

    margin: auto;
    width: 200px;
    padding: 20px;
    font-family: 'Lexend Deca', sans-serif;
    color: beige;
    outline-color: black;
    outline-width: 2px;
}

#gas summary {
    margin-top: 10px;
    text-align: center;
    color: beige;
}